<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Tracking System</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    /* set height of video frame */
    #video-frame {
      height: 400px;
    }
  </style>
</head>
<body>

  <div class="container-fluid">
    <div class="row">

      <!-- left column -->
      <div class="col-md-3 bg-light">
        <div class="py-4 text-center">
          <h4>Welcome</h4>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">East</a>
          <a href="#" class="list-group-item list-group-item-action">West</a>
          <a href="#" class="list-group-item list-group-item-action">North</a>
          <a href="#" class="list-group-item list-group-item-action">South</a>

          <a href="#" class="list-group-item list-group-item-action"><button class="btn btn-primary" onclick="document.getElementById('video-file').click()">Select Video</button></a>
          <a href="#" class="list-group-item list-group-item-action">Start</a>
          <a href="#" class="list-group-item list-group-item-action">Logout</a>
        </div>
      </div>

      <!-- right column -->
      <div class="col-md-9">
        <div class="py-4 text-center">
          <h4>Video Player</h4>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <video id="video-player" controls></video>

            <input type="file" id="video-file" style="display: none;" onchange="loadVideo(this.files)">

        </div>
      </div>

    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
function loadVideo(files) {
  const videoPlayer = document.getElementById('video-player');
  const file = files[0];
   // check if file is a video
  if (file.type.indexOf('video') === 0) {
    const fileURL = URL.createObjectURL(file);
    videoPlayer.src = fileURL;
    videoPlayer.play(); // play the video
  } else {
    alert('Please select a valid video file.');
  }
}
</script>


</body>
</html>
